<div id="container">
  <% @title="Of The Week" %>
  <h2>
    Find the best photo of the week for any topic
    <%= form_tag do %>
      <%= text_field_tag "search_term" %>
      <%= submit_tag "Search" %>
    <% end %>
  </h2>

  <h2>Popular</h2>
  
  <% @popular.each do |photo| %>
    <a href="<%= request.url + photo.tag %>"><%= photo.tag %></a>
    <br />
  <% end %>
</div>