<div id="container">
  <% @title="Of The Week" %>
  <h2>Find the best photo of the week for any subject</h2>
    <%= form_tag do %>
      <%= text_field_tag "search_term" %>
      <%= submit_tag "Search" %>
    <% end %>
  

  <p>
    <br />
  </p>
  
  <h2>Popular Photos This Week</h2>
  
  <% @popular.each do |photo| %>
    <span class="photo_thumbnail">
      <a href="<%= request.url + photo.tag %>">
        <img src="<%= photo.url_thumbnail %>">
      </a>
    </span>
  <% end %>
</div>