<div id="container">
  <% @title="Of The Week" %>
  <h1>Find the best photo of the week for any subject</h1>
  
  <div class="photo_thumbnails_container">
    <h2>Popular Photos This Week</h2>
  
    <% @popular.each_with_index do |photo, index| %>
      <% if index % 7 == 0 %>
        <div class="photos_row">
      <% end %>
      <span class="photo_thumbnail">
        <a href="<%= request.url + photo.tag %>">
          <img src="<%= photo.url_thumbnail %>">
        </a>
      </span>
      <% if index % 7 == 6 %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="photo_thumbnails_container">
    <h2>Your Recently Viewed Photos</h2>
  
    <% @recent.each_with_index do |photo, index| %>
      <% if index % 7 == 0 %>
        <div class="photos_row">
      <% end %>
      <span class="photo_thumbnail">
        <!--<a href="<%= request.url + photo.tag + '/' + photo.year.to_s + '/' + photo.week.to_s %>">-->
        <a href="<%= request.url + 'p/' + photo.id.to_s %>">
          <img src="<%= photo.url_thumbnail %>">
        </a>
      </span>
      <% if index % 7 == 6 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>