<div id="container">
  <% if @imageURL_medium.nil? %>
    Sorry, there are no results for your search 
  <% else %>
    <h2>
      <%= @title %>
      <% if !@term.empty? %>
        (<%= @term %>)
      <% end %>
    </h2>
    <div>
      <div class="mainimage">
        <a href="<%= @imageURL_large %>">
          <img src="<%= @imageURL_medium %>" />
        </a>
      </div>
      <div class="mainImageData">
        <%= @views %> view<% if @views != 1 %>s<% end %>
        <br />
        <a href="<%= @lastweekURL %>">previous</a> |
        <% if @nextweekURL.nil? %>
          next
        <% else %>
          <a href="<%= @nextweekURL %>">next</a>   
        <% end %>
      </div>
    </div>
  <% end %>
</div>