<div id="container">
  <% if @imageURL_medium.nil? %>
    Sorry, there are no results for your search 
  <% else %>
    <h2>
      <%= @title %>
      <% if !@term.empty? %>
        (<%= @term %>)
      <% end %>
    </h2>
    
    <div class="mainImageData">
      <!--<%= @views %> view<% if @views != 1 %>s<% end %>
      <br />-->
      <a href="<%= @lastweekURL %>">&lt;&lt; previous week</a>&nbsp; |&nbsp;
      <% if @nextweekURL.nil? %>
        next week &gt;&gt;
      <% else %>
        <a href="<%= @nextweekURL %>">next week &gt;&gt;</a>   
      <% end %>
    </div>
    
    <div class="mainImageHolder">
      <div class="mainImage">
        <a href="<%= @imageURL_large %>">
          <img src="<%= @imageURL_medium %>" />
        </a>
      </div>
    </div>
    
    <!--<div class="divider"></div>
    <h2>More</h2>-->
     
  <% end %>
</div>