<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28341467-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
<div id="header">
  <a href="/"><div class="logo">Of The Week</div></a>
  
  <div class="search">
    <%= form_tag "/" do %>
      <%= text_field_tag "search_term", "", :class => 'span4' %>
      <%= submit_tag "Search", :class => 'btn primary' %>
    <% end %>
  </div>
</div>

<%= yield %>

</body>
</html>
